{
  "host": "api.sencrop.com",
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Sencrop API",
    "description": "API to consume Sencrop data"
  },
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "paths": {
    "/ping": {
      "get": {
        "operationId": "getPing",
        "summary": "Checks API's availability.",
        "tags": [
          "system"
        ],
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Pong",
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "pong"
              ],
              "properties": {
                "pong": {
                  "type": "string",
                  "enum": [
                    "pong"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/crops": {
      "get": {
        "operationId": "getCrops",
        "summary": "Get the crops",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "List of the crops",
            "schema": {
              "$ref": "#/definitions/CropsCollection"
            }
          }
        },
        "tags": []
      }
    },
    "/modules": {
      "get": {
        "operationId": "getModules",
        "summary": "Get the modules",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "List of the modules",
            "schema": {
              "$ref": "#/definitions/ModulesCollection"
            }
          }
        },
        "tags": []
      }
    },
    "/utils/checkSignup": {
      "post": {
        "operationId": "postSignupCheck",
        "summary": "Hit the server to check the email can be used to signup.",
        "tags": [],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Authorization with Bearer mecanism",
            "type": "string"
          },
          {
            "in": "body",
            "description": "The email to check",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "email"
              ],
              "properties": {
                "email": {
                  "type": "string",
                  "format": "email"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Email can be used."
          }
        }
      }
    },
    "/password/lost": {
      "post": {
        "operationId": "postLostPassword",
        "summary": "Request a password change e-mail.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "description": "The infos to send the mail",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "email"
              ],
              "properties": {
                "email": {
                  "type": "string",
                  "format": "email"
                },
                "callbackPath": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Password change email sent"
          }
        },
        "tags": []
      }
    },
    "/password": {
      "put": {
        "operationId": "putPassword",
        "summary": "Change a user password",
        "tags": [],
        "consumes": [
          "application/json"
        ],
        "produces": [],
        "parameters": [
          {
            "in": "body",
            "description": "The infos to change the password",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "lostToken",
                "newPassword"
              ],
              "additionalProperties": false,
              "properties": {
                "lostToken": {
                  "type": "string"
                },
                "newPassword": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Password changed"
          }
        }
      }
    },
    "/users/sign_in": {
      "post": {
        "operationId": "postLogin",
        "summary": "Log a user in",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "description": "The infos to log in",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "email",
                "password"
              ],
              "properties": {
                "email": {
                  "type": "string"
                },
                "password": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User logged in",
            "schema": {
              "$ref": "#/definitions/Session"
            }
          }
        },
        "tags": []
      }
    },
    "/users/verify": {
      "post": {
        "operationId": "postVerify",
        "summary": "Verify a user",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "description": "Verify the user",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "email",
                "verify"
              ],
              "properties": {
                "email": {
                  "type": "string"
                },
                "verify": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User verified",
            "schema": {
              "$ref": "#/definitions/Session"
            }
          }
        },
        "tags": []
      }
    },
    "/partners/{partnerId}/tokenRequests": {
      "post": {
        "operationId": "postPartnerTokenRequest",
        "summary": "Request a user token",
        "tags": [
          "partners"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The partner organisation id",
            "name": "partnerId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "body",
            "description": "Request a user token",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "email"
              ],
              "properties": {
                "email": {
                  "type": "string",
                  "format": "email"
                }
              }
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "Authorization with Basic mecanism",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "User token requested"
          }
        },
        "security": [
          {
            "basicAuth": [
              "ROLE_PARTNER"
            ]
          }
        ]
      }
    },
    "/partners/{partnerId}/tokens": {
      "post": {
        "operationId": "postPartnerToken",
        "summary": "Create a user token",
        "tags": [
          "partners"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The partner organisation id",
            "name": "partnerId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "body",
            "description": "Create a user token",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "email",
                "code"
              ],
              "properties": {
                "email": {
                  "type": "string"
                },
                "code": {
                  "type": "string"
                }
              }
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "Authorization with Basic mecanism",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "User token created",
            "schema": {
              "$ref": "#/definitions/Session"
            }
          }
        },
        "security": [
          {
            "basicAuth": [
              "ROLE_PARTNER"
            ]
          }
        ]
      }
    },
    "/partners/{partnerId}/devices": {
      "get": {
        "operationId": "getPartnerDevices",
        "summary": "Retrieves the devices a partner has access to.",
        "tags": [
          "partners"
        ],
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The partner organisation id",
            "name": "partnerId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "name": "limit",
            "in": "query",
            "type": "number",
            "description": "The number of items to retrieve",
            "pattern": "^[0-9]+$",
            "enum": [
              10,
              50,
              100
            ],
            "required": true
          },
          {
            "name": "start",
            "in": "query",
            "type": "number",
            "description": "The index in results",
            "pattern": "^[0-9]+$",
            "min": 0,
            "multipleOf": 10,
            "required": true
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "Authorization with Bearer mecanism",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "access_token",
            "description": "Access token in the query string",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The devices collection",
            "schema": {
              "$ref": "#/definitions/PartnerDevicesCollection"
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "ROLE_PARTNER"
            ]
          }
        ]
      }
    },
    "/partners/{partnerId}/users/{partnerUserId}/devices/{deviceId}/modules/{moduleId}/parameters": {
      "put": {
        "operationId": "putPartnerModuleParameters",
        "summary": "Update an partner module parameters",
        "tags": [
          "partners"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The partner organisation id",
            "name": "partnerId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "path",
            "required": true,
            "description": "The user id",
            "name": "partnerUserId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1
          },
          {
            "in": "path",
            "description": "The device id",
            "name": "deviceId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "path",
            "required": true,
            "description": "The module id",
            "name": "moduleId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1
          },
          {
            "in": "body",
            "description": "The module parameters",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "enabled": {
                  "type": "boolean"
                }
              }
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "Authorization with Bearer mecanism",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "access_token",
            "description": "Access token in the query string",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Module sucessfully updated on the user device"
          }
        },
        "security": [
          {
            "bearerAuth": [
              "ROLE_PARTNER"
            ]
          }
        ]
      }
    },
    "/users/{userId}": {
      "get": {
        "operationId": "getUser",
        "summary": "Get a user's profile.",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The user id",
            "name": "userId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "Authorization with Bearer mecanism",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "access_token",
            "description": "Access token in the query string",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested user",
            "schema": {
              "$ref": "#/definitions/UserItem"
            }
          },
          "404": {
            "description": "User does not exists",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "ROLE_USER"
            ]
          }
        ],
        "tags": []
      },
      "put": {
        "operationId": "putUser",
        "summary": "Update a user's profile.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The user id",
            "name": "userId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "body",
            "description": "The new user",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserItem"
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "Authorization with Bearer mecanism",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "access_token",
            "description": "Access token in the query string",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "The user were created/updated",
            "schema": {
              "$ref": "#/definitions/UserItem"
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "ROLE_USER"
            ]
          }
        ],
        "tags": []
      }
    },
    "/users/{userId}/guests": {
      "get": {
        "operationId": "getUserGuests",
        "summary": "Get a user's guests.",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The user id",
            "name": "userId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "Authorization with Bearer mecanism",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "access_token",
            "description": "Access token in the query string",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested user's guests",
            "schema": {
              "$ref": "#/definitions/GuestsCollection"
            }
          },
          "404": {
            "description": "User does not exists",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "ROLE_USER"
            ]
          }
        ],
        "tags": []
      },
      "post": {
        "operationId": "postUserGuest",
        "summary": "Create a user's guest.",
        "tags": [],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The user id",
            "name": "userId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "body",
            "description": "The user's guest",
            "name": "body",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/definitions/GuestItem"
                },
                {
                  "$ref": "#/definitions/GuestInvite"
                }
              ]
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "Authorization with Bearer mecanism",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "access_token",
            "description": "Access token in the query string",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The created user's guest",
            "schema": {
              "$ref": "#/definitions/GuestItem"
            }
          },
          "404": {
            "description": "User does not exists",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "ROLE_USER"
            ]
          }
        ]
      }
    },
    "/users/{userId}/guests/{guestId}": {
      "put": {
        "operationId": "putUserGuest",
        "summary": "Update a user's guest.",
        "tags": [],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The user id",
            "name": "userId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "path",
            "required": true,
            "description": "The guest id",
            "name": "guestId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1
          },
          {
            "in": "body",
            "description": "The user's guest",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GuestItem"
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "Authorization with Bearer mecanism",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "access_token",
            "description": "Access token in the query string",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "The user's guest updated",
            "schema": {
              "$ref": "#/definitions/GuestEntry"
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "ROLE_USER"
            ]
          }
        ]
      },
      "delete": {
        "operationId": "deleteUserGuest",
        "summary": "Delete a user's guest.",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "in": "path",
            "description": "The user id",
            "name": "userId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "path",
            "required": true,
            "description": "The guest id",
            "name": "guestId",
            "pattern": "^[0-9]+$",
            "type": "number"
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "Authorization with Bearer mecanism",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "access_token",
            "description": "Access token in the query string",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "The user's guest were successfully deleted."
          }
        },
        "security": [
          {
            "bearerAuth": [
              "ROLE_USER"
            ]
          }
        ],
        "tags": []
      }
    },
    "/users/{userId}/collaborators": {
      "get": {
        "operationId": "getUserCollaborators",
        "summary": "Get a user's collaborators.",
        "tags": [],
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The user id",
            "name": "userId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "Authorization with Bearer mecanism",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "access_token",
            "description": "Access token in the query string",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested user's collaborators",
            "schema": {
              "$ref": "#/definitions/CollaboratorsCollection"
            }
          },
          "404": {
            "description": "User does not exists",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "ROLE_USER"
            ]
          }
        ]
      },
      "post": {
        "operationId": "postUserCollaborator",
        "summary": "Create a user's collaborator.",
        "tags": [],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The user id",
            "name": "userId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "body",
            "description": "The user's collaborator",
            "name": "body",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/definitions/CollaboratorItem"
                },
                {
                  "$ref": "#/definitions/CollaboratorInvite"
                }
              ]
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "Authorization with Bearer mecanism",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "access_token",
            "description": "Access token in the query string",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The created user's collaborator",
            "schema": {
              "$ref": "#/definitions/CollaboratorEntry"
            }
          },
          "404": {
            "description": "User does not exists",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "ROLE_USER"
            ]
          }
        ]
      }
    },
    "/users/{userId}/collaborators/{collaboratorId}": {
      "put": {
        "operationId": "putUserCollaborator",
        "summary": "Update a user's collaborator.",
        "tags": [],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The user id",
            "name": "userId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "path",
            "required": true,
            "description": "The collaborator id",
            "pattern": "^[0-9]+$",
            "name": "collaboratorId",
            "type": "string"
          },
          {
            "in": "body",
            "description": "The user's collaborator",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CollaboratorItem"
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "Authorization with Bearer mecanism",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "access_token",
            "description": "Access token in the query string",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "The user's collaborator updated",
            "schema": {
              "$ref": "#/definitions/CollaboratorEntry"
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "ROLE_USER"
            ]
          }
        ]
      },
      "delete": {
        "operationId": "deleteUserCollaborator",
        "summary": "Delete a user's collaborator.",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "in": "path",
            "description": "The user id",
            "name": "userId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "path",
            "required": true,
            "description": "The collaborator id",
            "name": "collaboratorId",
            "pattern": "^[0-9]+$",
            "type": "number"
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "Authorization with Bearer mecanism",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "access_token",
            "description": "Access token in the query string",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "The user's collaborator were successfully deleted."
          }
        },
        "security": [
          {
            "bearerAuth": [
              "ROLE_USER"
            ]
          }
        ],
        "tags": []
      }
    },
    "/users/{userId}/aggregations": {
      "get": {
        "operationId": "getUserAggregations",
        "summary": "Get a user's aggregations.",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The user id",
            "name": "userId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "query",
            "description": "Wether the aggregations should be computed",
            "name": "compute",
            "pattern": "^true|false$",
            "default": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "description": "Wether you want to get only original data or eventually patched ones to avoid holes.",
            "name": "patched",
            "type": "boolean"
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "Authorization with Bearer mecanism",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "access_token",
            "description": "Access token in the query string",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested user's aggregations",
            "schema": {
              "$ref": "#/definitions/AggregationsCollection"
            }
          },
          "404": {
            "description": "User does not exists",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "ROLE_USER"
            ]
          }
        ],
        "tags": []
      },
      "post": {
        "operationId": "postUserAggregation",
        "summary": "Create a user's aggregation.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The user id",
            "name": "userId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "body",
            "description": "The user's aggregation",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AggregationItem"
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "Authorization with Bearer mecanism",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "access_token",
            "description": "Access token in the query string",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The created user's aggregation",
            "schema": {
              "$ref": "#/definitions/AggregationEntry"
            }
          },
          "404": {
            "description": "User does not exists",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "ROLE_USER"
            ]
          }
        ],
        "tags": []
      }
    },
    "/users/{userId}/aggregations/{aggregationId}": {
      "get": {
        "operationId": "getUserAggregation",
        "summary": "Get a single user aggregation with statistics for graphs",
        "tags": [
          "cache"
        ],
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The user id",
            "name": "userId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "path",
            "required": true,
            "description": "The aggregation id",
            "name": "aggregationId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1
          },
          {
            "in": "query",
            "description": "Wether you want to get only original data or eventually patched ones to avoid holes.",
            "name": "patched",
            "type": "boolean"
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "Authorization with Bearer mecanism",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "access_token",
            "description": "Access token in the query string",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "The user's aggregation updated",
            "schema": {
              "$ref": "#/definitions/AggregationEntry"
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "ROLE_USER"
            ]
          }
        ]
      },
      "put": {
        "operationId": "putUserAggregation",
        "summary": "Update a user's aggregation.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The user id",
            "name": "userId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "path",
            "required": true,
            "description": "The aggregation id",
            "name": "aggregationId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1
          },
          {
            "in": "body",
            "description": "The user's aggregation",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AggregationItem"
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "Authorization with Bearer mecanism",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "access_token",
            "description": "Access token in the query string",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "The user's aggregation updated",
            "schema": {
              "$ref": "#/definitions/AggregationEntry"
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "ROLE_USER"
            ]
          }
        ],
        "tags": []
      },
      "delete": {
        "operationId": "deleteUserAggregation",
        "summary": "Delete a user's aggregation.",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "in": "path",
            "description": "The user id",
            "name": "userId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "path",
            "required": true,
            "description": "The aggregation id",
            "name": "aggregationId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "Authorization with Bearer mecanism",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "access_token",
            "description": "Access token in the query string",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "The user's aggregation were successfully deleted."
          }
        },
        "security": [
          {
            "bearerAuth": [
              "ROLE_USER"
            ]
          }
        ],
        "tags": []
      }
    },
    "/users/{userId}/deviceGroups": {
      "get": {
        "operationId": "getUserDeviceGroups",
        "summary": "Get a user's devices groups.",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The user id",
            "name": "userId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "Authorization with Bearer mecanism",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "access_token",
            "description": "Access token in the query string",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested user's device group",
            "schema": {
              "$ref": "#/definitions/DeviceGroupsCollection"
            }
          },
          "404": {
            "description": "User does not exists",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "ROLE_USER"
            ]
          }
        ],
        "tags": []
      },
      "post": {
        "operationId": "postUserDeviceGroup",
        "summary": "Create a user's device group.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The user id",
            "name": "userId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "body",
            "description": "The user's device group",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceGroupInput"
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "Authorization with Bearer mecanism",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "access_token",
            "description": "Access token in the query string",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The created user's device group",
            "schema": {
              "$ref": "#/definitions/DeviceGroupEntry"
            }
          },
          "404": {
            "description": "User does not exists",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "ROLE_USER"
            ]
          }
        ],
        "tags": []
      }
    },
    "/users/{userId}/deviceGroups/{deviceGroupId}": {
      "get": {
        "operationId": "getUserDeviceGroup",
        "summary": "Get a user's devices group.",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The user id",
            "name": "userId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "path",
            "required": true,
            "description": "The device group id",
            "name": "deviceGroupId",
            "pattern": "^[0-9]+$",
            "type": "number"
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "Authorization with Bearer mecanism",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "access_token",
            "description": "Access token in the query string",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested user's device group",
            "schema": {
              "$ref": "#/definitions/DeviceGroupEntry"
            }
          },
          "404": {
            "description": "User does not exists",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "ROLE_USER"
            ]
          }
        ],
        "tags": []
      },
      "put": {
        "operationId": "putUserDeviceGroup",
        "summary": "Update a user's device group.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The user id",
            "name": "userId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "path",
            "required": true,
            "description": "The deviceGroup id",
            "pattern": "^[0-9]+$",
            "name": "deviceGroupId",
            "type": "string"
          },
          {
            "in": "body",
            "description": "The user's device group",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceGroupInput"
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "Authorization with Bearer mecanism",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "access_token",
            "description": "Access token in the query string",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "The user's device group updated",
            "schema": {
              "$ref": "#/definitions/DeviceGroupEntry"
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "ROLE_USER"
            ]
          }
        ],
        "tags": []
      },
      "delete": {
        "operationId": "deleteUserDeviceGroup",
        "summary": "Delete a user's device group.",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "in": "path",
            "description": "The user id",
            "name": "userId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "path",
            "required": true,
            "description": "The device group id",
            "name": "deviceGroupId",
            "pattern": "^[0-9]+$",
            "type": "number"
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "Authorization with Bearer mecanism",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "access_token",
            "description": "Access token in the query string",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "The user's device group were successfully deleted."
          }
        },
        "security": [
          {
            "bearerAuth": [
              "ROLE_USER"
            ]
          }
        ],
        "tags": []
      }
    },
    "/users/{userId}/devices": {
      "get": {
        "operationId": "getUserDevices",
        "summary": "Get a user's devices.",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The user id",
            "name": "userId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "query",
            "description": "The status date",
            "name": "date",
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "description": "The measures to read",
            "name": "measures",
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "string",
              "enum": [
                "RH_AIR_H1",
                "TEMP_AIR_H1",
                "WIND_MEAN",
                "WIND_MAX",
                "WIND_DIRECTION",
                "RAIN_TIC",
                "MOVE",
                "WET_TEMPERATURE"
              ]
            }
          },
          {
            "in": "query",
            "description": "Wether you want to get only original data or eventually patched ones to avoid holes.",
            "name": "patched",
            "type": "boolean"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "number",
            "description": "The number of items to retrieve",
            "pattern": "^[0-9]+$",
            "enum": [
              10,
              50,
              100
            ],
            "required": false
          },
          {
            "name": "start",
            "in": "query",
            "type": "number",
            "description": "The index in results",
            "pattern": "^[0-9]+$",
            "min": 0,
            "multipleOf": 10,
            "required": false
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "Authorization with Bearer mecanism",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "access_token",
            "description": "Access token in the query string",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested user's devices",
            "schema": {
              "$ref": "#/definitions/DevicesCollection"
            }
          },
          "404": {
            "description": "User does not exists",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "ROLE_USER"
            ]
          }
        ],
        "tags": []
      },
      "post": {
        "operationId": "postUserDevice",
        "summary": "Setup a user's device.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The user id",
            "name": "userId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "body",
            "description": "The user device activation couple",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "identification": {
                  "type": "string",
                  "pattern": "^(WCP?|RC|SC|UMO)[0-9]{6}$"
                },
                "activationCode": {
                  "type": "string",
                  "pattern": "^[A-F0-9]{4,}$"
                }
              }
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "Authorization with Bearer mecanism",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "access_token",
            "description": "Access token in the query string",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "The user's device created",
            "schema": {
              "$ref": "#/definitions/DeviceItem"
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "ROLE_USER"
            ]
          }
        ],
        "tags": []
      }
    },
    "/users/{userId}/devices/{deviceId}/positions": {
      "get": {
        "operationId": "getUserDevicePositions",
        "summary": "Get a user's device geographic positions historic.",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The user id",
            "name": "userId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "path",
            "description": "The device id",
            "name": "deviceId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "Authorization with Bearer mecanism",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "access_token",
            "description": "Access token in the query string",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested user's device positions history",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "locationDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "latitude": {
                    "minimum": -90,
                    "maximum": 90,
                    "type": "number"
                  },
                  "longitude": {
                    "minimum": -180,
                    "maximum": 180,
                    "type": "number"
                  },
                  "altitude": {
                    "type": "number"
                  }
                }
              }
            }
          },
          "404": {
            "description": "User does not exists",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "ROLE_USER"
            ]
          }
        ],
        "tags": []
      }
    },
    "/users/{userId}/devices/{deviceId}": {
      "get": {
        "operationId": "getUserDevice",
        "summary": "Get a user's device.",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The user id",
            "name": "userId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "path",
            "description": "The device id",
            "name": "deviceId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "Authorization with Bearer mecanism",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "access_token",
            "description": "Access token in the query string",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested user's device",
            "schema": {
              "$ref": "#/definitions/DeviceEntry"
            }
          },
          "404": {
            "description": "User does not exists",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "ROLE_USER"
            ]
          }
        ],
        "tags": []
      },
      "put": {
        "operationId": "putUserDevice",
        "summary": "Update a user's device.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The user id",
            "name": "userId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "path",
            "description": "The device id",
            "name": "deviceId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "body",
            "description": "The user device",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceItem"
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "Authorization with Bearer mecanism",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "access_token",
            "description": "Access token in the query string",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "The user's device updated",
            "schema": {
              "$ref": "#/definitions/DeviceItem"
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "ROLE_USER"
            ]
          }
        ],
        "tags": []
      },
      "delete": {
        "operationId": "deleteUserDevice",
        "summary": "Delete a user's device access.",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "in": "path",
            "description": "The user id",
            "name": "userId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "path",
            "description": "The device id",
            "name": "deviceId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "Authorization with Bearer mecanism",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "access_token",
            "description": "Access token in the query string",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "The user's device access was successfully deleted."
          }
        },
        "security": [
          {
            "bearerAuth": [
              "ROLE_USER"
            ]
          }
        ],
        "tags": []
      }
    },
    "/users/{userId}/devices/{deviceId}/modules": {
      "get": {
        "operationId": "getUserDeviceModules",
        "summary": "Get the modules a user activated on its device",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The user id",
            "name": "userId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "path",
            "description": "The device id",
            "name": "deviceId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "Authorization with Bearer mecanism",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "access_token",
            "description": "Access token in the query string",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of the modules activated on the given user device",
            "schema": {
              "$ref": "#/definitions/ModulesCollection"
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "ROLE_USER"
            ]
          }
        ],
        "tags": []
      }
    },
    "/users/{userId}/devices/{deviceId}/modules/{moduleId}": {
      "put": {
        "operationId": "putUserDeviceModule",
        "summary": "Add a module to a user's device",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The user id",
            "name": "userId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "path",
            "description": "The device id",
            "name": "deviceId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "path",
            "required": true,
            "description": "The module id",
            "name": "moduleId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1
          },
          {
            "in": "body",
            "description": "The module settings",
            "name": "body",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "description": "Arvalis Mileos parameters",
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "mileos"
                      ]
                    },
                    "id": {
                      "type": "number"
                    }
                  }
                },
                {
                  "description": "Syngenta Avisio parameters",
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "avisio"
                      ]
                    },
                    "siret": {
                      "type": "string"
                    },
                    "organisationName": {
                      "type": "string"
                    }
                  }
                },
                {
                  "description": "Bayer Movida parameters",
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "movida"
                      ]
                    },
                    "administrator": {
                      "type": "string"
                    },
                    "organisationName": {
                      "type": "string"
                    }
                  }
                },
                {
                  "description": "BASF Atlas parameters",
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "atlas"
                      ]
                    },
                    "siret": {
                      "type": "string"
                    }
                  }
                },
                {
                  "description": "ScanBean parameters",
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "scanbean"
                      ]
                    },
                    "siret": {
                      "type": "string"
                    },
                    "organisationName": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "Authorization with Bearer mecanism",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "access_token",
            "description": "Access token in the query string",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Module sucessfully activated on the user device"
          }
        },
        "security": [
          {
            "bearerAuth": [
              "ROLE_USER"
            ]
          }
        ],
        "tags": []
      },
      "delete": {
        "operationId": "deleteUserDeviceModule",
        "summary": "Disable a module for a user's device",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The user id",
            "name": "userId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "path",
            "description": "The device id",
            "name": "deviceId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "path",
            "required": true,
            "description": "The module id",
            "name": "moduleId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "Authorization with Bearer mecanism",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "access_token",
            "description": "Access token in the query string",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Module sucessfully disabled for the user device"
          }
        },
        "security": [
          {
            "bearerAuth": [
              "ROLE_USER"
            ]
          }
        ],
        "tags": []
      }
    },
    "/users/{userId}/devices/{deviceId}/shares/{sharesType}": {
      "put": {
        "operationId": "putUserDeviceShares",
        "summary": "Update a user's device shares.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The user id",
            "name": "userId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "path",
            "description": "The device id",
            "name": "deviceId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "path",
            "required": true,
            "description": "The shares type",
            "name": "sharesType",
            "pattern": "^(guests|collaborators)$",
            "type": "string"
          },
          {
            "in": "body",
            "description": "The users concerned by the user's device share",
            "name": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "number"
              }
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "Authorization with Bearer mecanism",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "access_token",
            "description": "Access token in the query string",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "User's device shares updated",
            "schema": {
              "type": "array",
              "items": {
                "type": "number"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "ROLE_USER"
            ]
          }
        ],
        "tags": []
      }
    },
    "/users/{userId}/devices/{deviceId}/statistics": {
      "get": {
        "operationId": "getUserDeviceStatistics",
        "summary": "Get a user's device's device's statistics.",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The user id",
            "name": "userId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "path",
            "description": "The device id",
            "name": "deviceId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "query",
            "required": true,
            "description": "The statistics start date",
            "name": "startDate",
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "required": true,
            "description": "The statistics end date",
            "name": "endDate",
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "required": true,
            "description": "The measures to read",
            "name": "measures",
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "string",
              "enum": [
                "RH_AIR_H1",
                "RH_AIR_H1_MIN",
                "RH_AIR_H1_MAX",
                "TEMP_AIR_H1",
                "TEMP_AIR_H1_MIN",
                "TEMP_AIR_H1_MAX",
                "WIND_MEAN",
                "WIND_MAX",
                "WIND_DIRECTION",
                "RAIN_TIC",
                "MOVE",
                "WET_TEMPERATURE"
              ]
            }
          },
          {
            "in": "query",
            "description": "Wether you want to get only original data or eventually patched ones to avoid holes.",
            "name": "patched",
            "type": "boolean"
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "Authorization with Bearer mecanism",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "access_token",
            "description": "Access token in the query string",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested device's statistics",
            "schema": {
              "$ref": "#/definitions/DeviceStatistics"
            }
          },
          "404": {
            "description": "User/device does not exists",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "ROLE_USER"
            ]
          }
        ],
        "tags": []
      }
    },
    "/users/{userId}/devices/{deviceId}/data/raw": {
      "get": {
        "operationId": "getUserDeviceRawData",
        "summary": "Get a user's device's raw data.",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The user id",
            "name": "userId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "path",
            "description": "The device id",
            "name": "deviceId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "query",
            "required": true,
            "description": "The date before which the data starts being retrieved",
            "name": "beforeDate",
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "required": true,
            "description": "The number of measures to retrieve",
            "name": "size",
            "type": "number",
            "enum": [
              10,
              50,
              100,
              500,
              1000
            ]
          },
          {
            "in": "query",
            "required": true,
            "description": "The measures to read",
            "name": "measures",
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "string",
              "enum": [
                "WIND_MAX",
                "WIND_MEAN",
                "WIND_DIRECTION",
                "RH_AIR_H1",
                "RAIN_TIC",
                "TEMP_AIR_H1",
                "MOVE",
                "LAT",
                "LNG",
                "ALT"
              ]
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "Authorization with Bearer mecanism",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "access_token",
            "description": "Access token in the query string",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested device's data",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "date": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "WIND_MAX",
                      "WIND_MEAN",
                      "WIND_DIRECTION",
                      "RH_AIR_H1",
                      "RH_AIR_H1_MIN",
                      "RH_AIR_H1_MAX",
                      "RAIN_TIC",
                      "TEMP_AIR_H1",
                      "TEMP_AIR_H1_MIN",
                      "TEMP_AIR_H1_MAX"
                    ]
                  },
                  "value": {
                    "type": "number"
                  }
                }
              }
            }
          },
          "404": {
            "description": "User/device does not exists",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "ROLE_USER"
            ]
          }
        ],
        "tags": []
      }
    },
    "/users/{userId}/devices/{deviceId}/data/hourly": {
      "get": {
        "operationId": "getUserDeviceHourlyData",
        "summary": "Get a user's device's hourly data.",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The user id",
            "name": "userId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "path",
            "description": "The device id",
            "name": "deviceId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "query",
            "required": true,
            "description": "The date before which the data starts being retrieved",
            "name": "beforeDate",
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "required": true,
            "description": "The number of days to retrieve",
            "name": "days",
            "type": "number",
            "enum": [
              1,
              2,
              7,
              20,
              31
            ]
          },
          {
            "in": "query",
            "required": true,
            "description": "The measures to read",
            "name": "measures",
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "string",
              "enum": [
                "WIND_MAX",
                "WIND_MEAN",
                "WIND_DIRECTION",
                "RH_AIR_H1",
                "RH_AIR_H1_MIN",
                "RH_AIR_H1_MAX",
                "RAIN_TIC",
                "TEMP_AIR_H1",
                "TEMP_AIR_H1_MIN",
                "TEMP_AIR_H1_MAX",
                "WET_TEMPERATURE"
              ]
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "Authorization with Bearer mecanism",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "access_token",
            "description": "Access token in the query string",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested device's statistics",
            "schema": {
              "$ref": "#/definitions/DeviceStatistics"
            }
          },
          "404": {
            "description": "User/device does not exists",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "ROLE_USER"
            ]
          }
        ],
        "tags": []
      }
    },
    "/users/{userId}/devices/{deviceId}/data/daily": {
      "get": {
        "operationId": "getUserDeviceDailyData",
        "summary": "Get a user's device's daily data.",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The user id",
            "name": "userId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "path",
            "description": "The device id",
            "name": "deviceId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "query",
            "required": true,
            "description": "The date before which the data starts being retrieved",
            "name": "beforeDate",
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "required": true,
            "description": "The number of days to retrieve",
            "name": "days",
            "type": "number",
            "enum": [
              7,
              30,
              60,
              90
            ]
          },
          {
            "in": "query",
            "required": true,
            "description": "The measures to read",
            "name": "measures",
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "string",
              "enum": [
                "WIND_MAX",
                "WIND_MEAN",
                "WIND_DIRECTION",
                "RH_AIR_H1",
                "RH_AIR_H1_MIN",
                "RH_AIR_H1_MAX",
                "RAIN_TIC",
                "TEMP_AIR_H1",
                "TEMP_AIR_H1_MIN",
                "TEMP_AIR_H1_MAX",
                "WET_TEMPERATURE"
              ]
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "Authorization with Bearer mecanism",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "access_token",
            "description": "Access token in the query string",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested device's data",
            "schema": {
              "$ref": "#/definitions/DeviceStatistics"
            }
          },
          "404": {
            "description": "User/device does not exists",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "ROLE_USER"
            ]
          }
        ],
        "tags": []
      }
    },
    "/users/{userId}/devices/{deviceId}/countinuousStatistics": {
      "get": {
        "operationId": "getUserDeviceContinuousStatistics",
        "summary": "Get a user's device's continuous device's statistics.",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The user id",
            "name": "userId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "path",
            "description": "The device id",
            "name": "deviceId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "query",
            "required": true,
            "description": "The statistics start date",
            "name": "startDate",
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "required": true,
            "description": "The statistics end date",
            "name": "endDate",
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "required": true,
            "description": "The measures to read",
            "name": "measures",
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "string",
              "enum": [
                "RH_AIR_H1",
                "RH_AIR_H1_MIN",
                "RH_AIR_H1_MAX",
                "TEMP_AIR_H1",
                "TEMP_AIR_H1_MIN",
                "TEMP_AIR_H1_MAX",
                "WIND_MEAN",
                "WIND_MAX",
                "WIND_DIRECTION",
                "RAIN_TIC",
                "MOVE",
                "WET_TEMPERATURE"
              ]
            }
          },
          {
            "in": "query",
            "description": "Wether you want to get only original data or eventually patched ones to avoid holes.",
            "name": "patched",
            "type": "boolean"
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "Authorization with Bearer mecanism",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "access_token",
            "description": "Access token in the query string",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested device's statistics",
            "schema": {
              "$ref": "#/definitions/DeviceStatistics"
            }
          },
          "404": {
            "description": "User/device does not exists",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "ROLE_USER"
            ]
          }
        ],
        "tags": []
      }
    },
    "/users/{userId}/devices/{deviceId}/degreeDays": {
      "get": {
        "operationId": "getUserDeviceDegreeDays",
        "summary": "Get a user's device's degree days.",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The user id",
            "name": "userId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "path",
            "description": "The device id",
            "name": "deviceId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "query",
            "required": true,
            "description": "The statistics start date",
            "name": "startDate",
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "required": true,
            "description": "The statistics end date",
            "name": "endDate",
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "Authorization with Bearer mecanism",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "access_token",
            "description": "Access token in the query string",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested device's degree days",
            "schema": {
              "$ref": "#/definitions/DeviceDegreeDays"
            }
          },
          "404": {
            "description": "User/device does not exists",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "ROLE_USER"
            ]
          }
        ],
        "tags": []
      }
    },
    "/users/{userId}/devices/{deviceId}/summaries/{date}": {
      "get": {
        "operationId": "getUserDeviceSummary",
        "summary": "Get a user's device's summary at a given date.",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The user id",
            "name": "userId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "path",
            "description": "The device id",
            "name": "deviceId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "path",
            "required": true,
            "description": "The summary date",
            "name": "date",
            "type": "string",
            "format": "date-time",
            "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z"
          },
          {
            "in": "query",
            "required": true,
            "description": "The measures to read",
            "name": "measures",
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "string",
              "enum": [
                "RH_AIR_H1",
                "TEMP_AIR_H1",
                "WIND_MEAN",
                "WIND_MAX",
                "WIND_DIRECTION",
                "RAIN_TIC",
                "MOVE"
              ]
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "Authorization with Bearer mecanism",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "access_token",
            "description": "Access token in the query string",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested device's summary",
            "schema": {
              "$ref": "#/definitions/DeviceSummaryEntry"
            }
          },
          "404": {
            "description": "User/device does not exists",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "ROLE_USER"
            ]
          }
        ],
        "tags": []
      }
    },
    "/users/{userId}/devices/{deviceId}/forecasts": {
      "get": {
        "operationId": "getUserDeviceForecasts",
        "summary": "Get a user's device's forecasts.",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The user id",
            "name": "userId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "path",
            "description": "The device id",
            "name": "deviceId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "query",
            "name": "date",
            "description": "Date of the forecasts",
            "type": "string",
            "format": "date-time",
            "required": true
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "Authorization with Bearer mecanism",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "access_token",
            "description": "Access token in the query string",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested device's forecasts",
            "schema": {
              "$ref": "#/definitions/DeviceForecasts"
            }
          },
          "404": {
            "description": "User/device does not exists",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "ROLE_USER"
            ]
          }
        ],
        "tags": []
      }
    },
    "/users/{userId}/forecasts": {
      "get": {
        "operationId": "getUserForecasts",
        "summary": "Get a user's forecasts.",
        "tags": [],
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The user id",
            "name": "userId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "query",
            "required": true,
            "description": "The latitude of the data",
            "name": "latitude",
            "pattern": "^\\-?[0-9]+(\\.[0-9]+)?$",
            "minimum": -90,
            "maximum": 90,
            "type": "number"
          },
          {
            "in": "query",
            "required": true,
            "description": "The longitude of the data",
            "name": "longitude",
            "pattern": "^\\-?[0-9]+(\\.[0-9]+)?$",
            "minimum": -180,
            "maximum": 180,
            "type": "number"
          },
          {
            "in": "query",
            "name": "date",
            "description": "Date of the forecasts",
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "Authorization with Bearer mecanism",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "access_token",
            "description": "Access token in the query string",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested device's forecasts",
            "schema": {
              "$ref": "#/definitions/DeviceForecasts"
            }
          },
          "404": {
            "description": "User/device does not exists",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "ROLE_USER"
            ]
          }
        ]
      }
    },
    "/users/{userId}/data/daily": {
      "get": {
        "operationId": "getUserDailyData",
        "summary": "Get a user's daily data for a given geo location.",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The user id",
            "name": "userId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "query",
            "required": true,
            "description": "The latitude of the data",
            "name": "latitude",
            "pattern": "^\\-?[0-9]+(\\.[0-9]+)?$",
            "minimum": -90,
            "maximum": 90,
            "type": "number"
          },
          {
            "in": "query",
            "required": true,
            "description": "The longitude of the data",
            "name": "longitude",
            "pattern": "^\\-?[0-9]+(\\.[0-9]+)?$",
            "minimum": -180,
            "maximum": 180,
            "type": "number"
          },
          {
            "in": "query",
            "required": true,
            "description": "The date before which the data starts being retrieved",
            "name": "beforeDate",
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "required": true,
            "description": "The number of days to retrieve",
            "name": "days",
            "type": "number",
            "enum": [
              7,
              30,
              60,
              90
            ]
          },
          {
            "in": "query",
            "required": true,
            "description": "The measures to read",
            "name": "measures",
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "string",
              "enum": [
                "WIND_MAX",
                "WIND_MEAN",
                "WIND_DIRECTION",
                "RH_AIR_H1",
                "RH_AIR_H1_MIN",
                "RH_AIR_H1_MAX",
                "RAIN_TIC",
                "TEMP_AIR_H1",
                "TEMP_AIR_H1_MIN",
                "TEMP_AIR_H1_MAX",
                "WET_TEMPERATURE"
              ]
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "Authorization with Bearer mecanism",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "access_token",
            "description": "Access token in the query string",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested device's statistics",
            "schema": {
              "$ref": "#/definitions/DeviceStatistics"
            }
          },
          "404": {
            "description": "User/device does not exists",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "ROLE_USER"
            ]
          }
        ],
        "tags": []
      }
    },
    "/users/{userId}/data/hourly": {
      "get": {
        "operationId": "getUserHourlyData",
        "summary": "Get a user's hourly data for a given geo location.",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The user id",
            "name": "userId",
            "type": "number",
            "pattern": "^[0-9]+$",
            "minimum": 1,
            "required": true
          },
          {
            "in": "query",
            "required": true,
            "description": "The latitude of the data",
            "name": "latitude",
            "pattern": "^\\-?[0-9]+(\\.[0-9]+)?$",
            "minimum": -90,
            "maximum": 90,
            "type": "number"
          },
          {
            "in": "query",
            "required": true,
            "description": "The longitude of the data",
            "name": "longitude",
            "pattern": "^\\-?[0-9]+(\\.[0-9]+)?$",
            "minimum": -180,
            "maximum": 180,
            "type": "number"
          },
          {
            "in": "query",
            "required": true,
            "description": "The date before which the data starts being retrieved",
            "name": "beforeDate",
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "required": true,
            "description": "The number of days to retrieve",
            "name": "days",
            "type": "number",
            "enum": [
              1,
              2,
              7,
              20,
              31
            ]
          },
          {
            "in": "query",
            "required": true,
            "description": "The measures to read",
            "name": "measures",
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "string",
[...]
